.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* No seu arquivo CSS, por exemplo, App.css */

/* Header.css */

.header {
  background-color: #000; /* Cor de fundo preta */
  color: #fff; /* Cor do texto branco para melhor contraste */
  width: 100%; /* Largura total da página */
  position: fixed; /* Fixa o cabeçalho na parte superior da página */
  top: 0; /* Alinha o cabeçalho com o topo da página */
  left: 0; /* Alinha o cabeçalho com a esquerda da página */
  z-index: 999; /* Certifique-se de que o cabeçalho esteja na frente de outros elementos */
  padding: 10px 20px; /* Espaçamento interno */
}

/* Adicione estilos adicionais ao seu cabeçalho, como fonte, altura, alinhamento, etc. */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
