.menu-item .subitens li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 10px; /* Ajuste conforme necessário */
  }
  
  .menu-item .subitens li input {
    margin-right: 10px; /* Ajuste conforme necessário */
    margin-left: 10px;
  }
  
  .menu-item .subitens li label {
    flex-grow: 1;
  }
  