aside {
  padding-top: 5%;
  background-color: #000; /* Cor de fundo preta */
  color: #fff; /* Cor do texto branco, para melhor contraste */
  width: 200px; /* Largura do Sidebar */
  height: 100%; /* Para preencher toda a altura da tela */
  position: fixed; /* Fixa o Sidebar na posição */
  top: 0; /* Alinha o Sidebar com o topo */
  left: 0; /* Alinha o Sidebar com a esquerda */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
  
}

nav {
  display: flex;
  flex-direction: column; /* Itens empilhados verticalmente */
  padding: 20px; /* Espaçamento interno */
}

nav a {
  color: #fff; /* Cor do texto dos links branco */
  text-decoration: none; /* Remover sublinhado dos links */
  margin-bottom: 10px; /* Espaçamento entre os links */
}

nav a:hover {
  text-decoration: underline; /* Adicionar sublinhado ao passar o mouse sobre os links */
}
